  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
        <% if @active == :trash %>
        <%= button_to 'Empty Trash', empty_trash_path, class: 'btn btn-danger pull-right', method: :get%>
        <% end %>
      </div>
    </div>
  </div>
</div>
