/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require font-awesome
 *= require bootstrap.scss
 *= require_self
 */

 // @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';


 .alert-alert {
   @extend .alert-warning;
 }

 .alert-notice {
   @extend .alert-info;
 }

//  .alert-info, .alert-notice {
//     background-image: -webkit-linear-gradient(top, #86c629 0%, #6B9430 100%)!important;
//     background-image: -o-linear-gradient(top, #86c629 0%, #6B9430 100%)!important;
//     background-image: linear-gradient(to bottom, #86c629 0%, #6B9430 100%)!important;
//     background-repeat: repeat-x;
//     border-color: #56B056;
// }

.alert-warning, .alert-alert {
  background-image: -webkit-linear-gradient(top, #c63929 0%, #E84C3D 100%)!important;
  background-image: -o-linear-gradient(top, #c63929 0%, #E84C3D 100%)!important;
  background-image: linear-gradient(to bottom, #c63929 0%, #E84C3D 100%)!important;
  background-repeat: repeat-x;
  border-color: #c63929;
}

.alert-success,  .alert-info, .alert-notice {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%) !important;
    background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%) !important;
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFC8E5BC', GradientType=0);
    border-color: #b2dba1;
    color: black;
}

body {
  background-color: #EEEEEE;
  margin-bottom: 50px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.news-table img {
  border: .5px solid #dfd7ca;
  height: 40px;
  width: 40px;
}

.news-table a {
  font-weight: bold;
}


.modal .form-container {
  bottom: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.modal .show-listing {
  height: 100px;
  overflow: scroll;
  background-color: white;
  color: black;
}

.modal .show-listing a{
  float: right;
  margin-right: 10px;
}

.modal .button_to {
  width: 40px;
}

.search-results {
  background-color:#282828;
  color:white; width:300px!important;
  height:380px;
  overflow:auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.search-result {
  padding: 10px;
}

.modal .search-links {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal form {
  display: flex;
  width: 100%;
}

.modal .form-container .btn {
  height: 80px;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
}

.modal .form-container .submit {
  width: 147px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.suggestion-modal-buttons {
  display: inline;
}

div {
  border-radius: 0px !important;
}

.current-avatar {
  background-color: white;
  border: .5px solid #dfd7ca;
  margin: 5px 0px 5px 0px;
  width: 132px;
}

.current-avatar img {
  margin: 10px;
}

.login-page {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.login-form {
  background-color: white;
  border: .5px solid #dfd7ca;
  width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
}

.login-centered {
  margin-top: 40px;
  margin-left: 60px;
}

.login-centered input {
  width: 270px;
  margin: 0px;
}

#or {
  margin: 0px;
  padding: 0px;
  margin-left: 125px;
  margin-top: 10px;
}

.wallpaper {
  background-image: url('/assets/welcome-wallpaper.jpg');
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.black-opacity {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
}

#welcome-input {
  justify-content: center;
  margin-top: 10%;
  text-align: center;
  color: white;
}

#welcome-input h1 {
  color: white;
  font-family: Helvetica;
  border: 1px solid white;
  padding: 20px;
}

.empty-message {
  font-weight: bold;
  margin-top:100px;
  text-align: center;
  background-color: white;
  border: .5px solid #dfd7ca;
  width: 700px;
  font-size: 35px;
  margin-left: 200px;
}

.stashed_music {
  margin-top: 60px;
}

.stashed_music table {
  border: 1px solid #dfd7ca;
}

.stashed_music td {
  color: #93C54B;
  background-color: white;
  // background-color: #2F2F2F;
  font-size: 18px;
  width: 250px;
}


.news-feed-text {
  text-overflow: ellipsis;
  width: 100%;
}
