.show-feed {
  margin-top: 120px;
  display: block;
  justify-content: left;
}

showbuttons {
  font-size: 25px;
  color: #6B9430;
  display: flex;
  justify-content: center;
}

#shorttext {
  width: 136px;
  height: 40px;
  font-size: 14px;
  resize: none;
}

#longtext {
  width: 223px;
  height: 40px;
  font-size: 14px;
  resize: none;
}

showpage {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

comments {
  margin-top: 150px;
  margin-bottom: 100px;
  width: 300px;
}

#commentbutton {
  float: right;
}

comments img {
  border: .5px solid #dfd7ca;
  height: 42px;
  width: 42px;
}

.suggestions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.suggestion-flex {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.suggestion-data img {
  height: 42px;
  width: 42px;
}

.comment {
  margin: 10px 0px 10px 0px;
}

.show-layout {
  display:flex;
  flex-direction:row;
  justify-content: right;
}

#favbutton {
  display: inline;
}
