.musicpage {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  width: 900px;
  height: 130px;
  margin-bottom: 30px;
  border: .2px solid #dfd7ca;
  background-color: white;
}

.user-info img {
  justify-content: flex-start;
  height: 110px;
  width: 110px;
  margin: 10px;
  border: .2px solid #dfd7ca;
}

.user-show {
  display: flex;
  justify-content: center;
}

.user-text {
  display: flex;
  margin: 3px 0px 0px 5px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.user-info span {
  color: #6B9430;
}

.user-show form {
  position: absolute;;
  float: right;
  right: 23vw;
  margin: 5px;
  padding: 0px;
}

.user-show .form-container {
  position: absolute;
  right: 0px;
  margin: 0px;
  padding: 0px;
}

.user-pagination {
  text-align: center;
  margin-bottom: 20px;
}

.user-pagination nav {
  font-size: 16px;
}

.user-pagination a {
  font-size: 16px;
}
